// bower:scss
// endbower

@import "variables";
@import "header";
@import "artwork";
@import "footer";
@import "category";
@import "modal";

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100%;
  position: relative;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  color: $header-color;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  margin: 0;
  color: $header-color;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  color: $header-color;
}

h4 {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $header-color;
}

.bold-link {
  font-weight: 400;
}

.bold-link:hover {
  text-decoration: underline;
}

.centerer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-content {
  min-height: 100%;
  margin: 18px 0;

  .main-container {
    padding: 0 15px 0 15px;
  }
}

.stop-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}


@media only screen and (max-width: 768px) {

  body {
    background-color: $bar-color;
  }

  h1 {
    padding-left: 0px;
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  .main-content {
    .main-container {
      padding: 0;
    }
  }
}



