// bower:scss
// endbower
$lhl: 1.6em;

html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100%;

}

h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 10px 0;
  color: #333;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.large-text {
  font-size: 22px;
  line-height: $lhl;
}

a {
  text-decoration: none !important;
  color: #000;
}

.centerer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100%;
}

.stop-scroll {
  overflow: hidden;
}


/* Header */

.header {
  padding: 8px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
  background-color: #666;

  .header-container {
    padding: 0 10px;
    font-size: 24px;
    font-weight: 400;
    -ms-transform: uppercase;
    -webkit-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #eee !important;
    /*height: 41px;*/

    .site-logo {
      height: 32px;
      margin-bottom: -3px;
    }

    .sitename {
      font-size: 28px;
      color: #eee;
    }

    .header-item {
      padding-left: 10px;
      color: #eee;
    }

    .header-item:hover {
      color: #bbb;
    }

    .selectedheader {
      color: #044c89;
    }
  }
}


.test1 {
  height: 600px;
  width: 100%;
  background-color: #333;
}

.test2 {
  height: 100%;
  min-height: 90%;
  background-color: #777;
}

.test3 {
  height: 800px;
  width: 100%;
  background-color: #bbb;
}

.welcome-area {
  min-height: calc(100% - 58px);
  width: 100%;
  background-color: #bbb;
}



.main-content {
  min-height: 100%;

  .main-container {
    padding: 0 10px 0 15px;
  }
}


.mainbar {
  width: 68%;
  display: inline-block;
  float: left;

  .mainbar-container {
    padding-right: 10px;

    .main-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      cursor: pointer;
    }

    .description {
      padding-top: 20px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;
      white-space: pre-line;
    }

    .small-images {

      .small-image-container {
        width: 33.3%;
        position: relative;
        display: inline-block;
        float: left;

        .small-image-content {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 10px;

          .small-image-horizontal {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor:pointer;
          }

          .small-image-vertical {
            height: 100%;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor:pointer;
          }
        }
      }

      /* Makes container's ratio 1:1 */
      .small-image-container:before{
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
}


.sidebar {
  width: 32%;
  display: inline-block;
  float: right;

  .sidebar-container {
    padding: 45px 0 0 15px;

    .other-works {
      padding-top: 200px;

      .sidebar-item {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        position: relative;

        .sidebar-image {
          max-height: 80px;
          max-width: 106px;
        }

        .work-name {
          display: inline-block;
          position: absolute;
          left: 115px;
          font-size: 18px;
        }
      }
    }
  }
}


.row {
  display: block;
  width: 100%;
  height: 225px;
  border-bottom: 1px solid #eee;
  padding: 20px 0;

  .image-part {
    width: 300px;
    height: 225px;
    display: inline-block;
    float: left;

    .row-image {
      max-height: 100%;
      max-width: 100%;
    }

  }

  .text-part {
    float: left;
    display: inline-block;
    padding-left: 20px;
    width: calc(100% - 320px);
  }

  .category-description {
    overflow: hidden;
    height: 150px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 1),
      rgba(black, 1) $lhl,
      rgba(black, 1) $lhl,
      rgba(black, 0.8) $lhl*2,
      rgba(black, 0.8) $lhl*2,
      rgba(black, 0.6) $lhl*3,
      rgba(black, 0.4) $lhl*3,
      rgba(black, 0.2));
  }
}







.footer {
  margin-top: 15px;
  padding: 8px 0;
  border-top: 1px solid #bbb;
  background-color: #888;
  width: 100%;
  display: inline-block;

  .footer-container {
    padding: 0 10px;
    font-weight: 300;
    color: #eee;
    height: 30px;
    position: relative;

    .copyright {
      position: absolute;
      display: inline-block;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .social-media {
      float: right;

      .social-item {
        width: 32px;
        height: 32px;
        display: inline-block;
        padding-right: 7px;
      }

      .twitter {
        background:transparent url('/images/twitter.png') center top no-repeat;
      }
      .twitter:hover {
        background-image: url('/images/twitter-hover.png');
      }

      .github {
        background:transparent url('/images/github.png') center top no-repeat;
      }
      .github:hover {
        background-image: url('/images/github-hover.png');
      }

      .linkedin {
        background:transparent url('/images/linkedin.png') center top no-repeat;
        background-size: 40.5px 32px;
        width: 40.5px
      }
      .linkedin:hover {
        background-image: url('/images/linkedin-hover.png');
      }
    }
  }
}


.image-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.image-ratio-066 {
  padding-bottom: 66.66%;
}

.image-ratio-070 {
  padding-bottom: 70%;
}

.image-ratio-075 {
  padding-bottom: 75%;
}

.image-ratio-133 {
  padding-bottom: 75%;
}

.image-ratio-140 {
  padding-bottom: 71.43%;
}

.image-ratio-202 {
  padding-bottom: 49.44%;
}














.modal-overlay {
  /* Dark overlay */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #000;
  opacity: 0.85;
  overflow: hidden;
}
.modal-dialog {

  /*Circle for close button*/
  .modal-close {
    z-index: 10001;
    height: 30px;
    width: 30px;
    background-color: #ddd;
    border-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
    cursor: pointer;
    border: 5px solid #000;
  }

  /*Cross for close button*/
  .modal-close:after, .modal-close:before{
    position: fixed;
    top: 23px;
    right: 12px;
    content: '';
    width: 25px;
    height: 4px;
    background-color: #000;
  }

  .modal-close:after{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .modal-close:before{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


  .modal-image {
    z-index: 10000;
    position: fixed;
    max-width: 90%;
    max-height: calc(90% - 80px);

    /* Center the dialog */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, calc(-50% - 40px));
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, calc(-50% - 40px));
    transform: translate(-50%, -50%);
    transform: translate(-50%, calc(-50% - 40px));


    padding: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
  }
}

.modal-caption-bar {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #000;
  opacity: 0.95;
  box-shadow: 0 -5px 10px #000;

  .modal-move {
    color: #ddd;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    padding-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .modal-move:hover {
    color: #bbb;
  }

  .modal-prev {
    right: 50%;
    margin-right: 20px;
  }

  .modal-next {
    left: 50%;
    margin-left: 20px;
  }

  .modal-caption {
    color: #fff;
    font-size: 18px;
    position: fixed;
    top: calc(100% - 50px);
    width: 80%;
    text-align: center;
    left: 50%;
    -ms-transform: translateX(-50%);;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 44px;
    overflow: hidden;
  }
}














@media only screen and (max-width: 500px) {
  .row {
    border-bottom: none;
    height: 100%;

    .image-part {
      width: 100%;
      height: 100%;
      display: block;

    }

    .text-part {
      display: block;
      padding-left: 0;
      width: 100%;
      padding: 5px 0;

      .category-description {
        overflow: hidden;
        height: 150px;
        -webkit-text-fill-color: black;
        background-image: none;
      }

      .read-more {
        font-weight: 400;
        padding-bottom: 25px;
      }
    }
  }




  .mainbar {
    width: 100%;
    display: block;

    .mainbar-container {
      padding-right: 0;

      .main-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
      }

      .description {
        font-size: 18px;
        line-height: 1.6;
      }

      .small-images {

        .small-image-container {
          width: 50%;
        }
      }
    }
  }



  .sidebar {
    width: 100%;
    display: block;

    .sidebar-container {
      padding: 0;

      .other-works {
        padding-top: 200px;

        .sidebar-item {

          .sidebar-image {
          }

          .work-name {
          }
        }
      }
    }
  }

}



