// bower:scss
// endbower
$lhl: 1.6em;
$base-color: #607D8B;
$background-color: lighten($base-color, 47%);
$bar-color: #fff;
$header-color: darken($base-color, 13%);
$footer-color: darken($base-color, 5%);
$border-color: lighten($base-color, 35%);

$black: #000;
$text-color: lighten($black, 13%);

html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100%;
  position: relative;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  color: $header-color;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  margin: 0;
  color: $header-color;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  color: $header-color;
}

h4 {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.large-text {
  font-size: 22px;
  line-height: $lhl;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $header-color;
}

.bold-link {
  font-weight: 400;
}

.bold-link:hover {
  text-decoration: underline;
}

.centerer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.stop-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}


/* Header */

header {
  padding: 0;
  background-color: $header-color;
  -moz-box-shadow:    0px 0px 4px 3px $header-color;
  -webkit-box-shadow: 0px 0px 4px 3px $header-color;
  box-shadow:         0px 0px 4px 3px $header-color;
  position: relative;

  .header-container {
    height: 52px;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 400;
    -ms-transform: uppercase;
    -webkit-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #eee !important;
    position: relative;

    .logo-name {
      display: inline-block;
      height: 52px;
      position: absolute;
      z-index: 101;

      .site-logo {
        height: 36px;
        margin-bottom: -5px;
        padding: 0 5px 0 7px;
      }

      .site-name {
        font-size: 11px;
        color: #fff;
        margin-top: -3px;
      }
    }


    nav {
      display: inline-block;
      height: 52px;
      position: absolute;
      padding-left: 70px;
      line-height: 1.4;
      z-index: 100;

      .menu-container {
        display: none;
      }

      ul {
        padding: 10px;
        margin: 0 auto;


        li {
          padding-right: 10px;
          display: inline;
          float: left;
          color: #eee;
          cursor: pointer;
        }

        li:last-child {
          padding-right: 0;
        }

        li:hover {
            color: #bbb;
        }
      }
    }
  }
}


.top-description {
  width: calc(100% - 30px);
  padding: 5px 15px 0 15px;
  background-color: $bar-color;
  box-shadow: 0 0 1px 1px $bar-color;
}



.main-content {
  min-height: 100%;
  margin: 18px 0;

  .main-container {
    padding: 0 15px 0 15px;
  }
}


.mainbar {
  width: calc(68% - 16px);
  display: inline-block;
  float: left;
  background-color: $bar-color;
  box-shadow: 0 0 1px 1px $bar-color;
  margin: 0 16px 18px 0;
  padding-bottom: 10px;

  .mainbar-container {
    padding: 5px 14px;

    .main-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      cursor: pointer;
    }

    .description {
      padding: 20px 0 10px 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;
      white-space: pre-line;

      .kandi-link {
        font-weight: 400;
      }
    }

    .small-images {

      .small-image-container {
        width: 33.3%;
        position: relative;
        display: inline-block;
        float: left;

        .small-image-content {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 10px;

          .small-image-horizontal {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor:pointer;
          }

          .small-image-vertical {
            height: 100%;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor:pointer;
          }
        }
      }

      /* Makes container's ratio 1:1 */
      .small-image-container:before{
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
}


.sidebar {
  width: 32%;
  display: inline-block;
  float: right;
  background-color: $bar-color;
  box-shadow: 0 0 1px 1px $bar-color;
  margin-bottom: 18px;

  .sidebar-container {
    padding: 54px 14px 0 14px;

    .info-box {
      min-height: 400px;

      .info-item {
        padding-left: 10px;
      }
    }

    .other-works {

      .sidebar-item {
        border-bottom: 1px solid $border-color;
        padding: 10px 0;
        position: relative;
        overflow: hidden;

        .sidebar-image {
          max-height: 80px;
          max-width: 106px;
        }

        .work-name {
          display: inline-block;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 115px;
          font-size: 20px;
        }
      }

      .sidebar-item:last-child {
        border-bottom: none;
      }
    }
  }
}


.row {
  display: block;
  width: calc(100% - 30px);
  height: 225px;
  //border-bottom: 1px solid $border-color;
  padding: 19px 15px; //20px 0;
  margin-bottom: 17px;
  background-color: $bar-color;
  box-shadow: 0 0 1px 1px $bar-color;

  .image-part {
    width: 300px;
    height: 225px;
    display: inline-block;
    float: left;

    .row-image {
      max-height: 100%;
      max-width: 100%;
    }

  }

  .text-part {
    float: left;
    display: inline-block;
    padding-left: 20px;
    width: calc(100% - 320px);
  }

  .category-description {
    overflow: hidden;
    height: 150px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 1),
      rgba(black, 1) $lhl,
      rgba(black, 1) $lhl,
      rgba(black, 0.8) $lhl*2,
      rgba(black, 0.8) $lhl*2,
      rgba(black, 0.6) $lhl*3,
      rgba(black, 0.4) $lhl*3,
      rgba(black, 0.2));
  }

  .read-more {
    background:transparent url('/images/readmore.png') right 70% no-repeat;
    padding-right: 20px;
  }

  .read-more:hover {
    background:transparent url('/images/readmore-hover.png') right 70% no-repeat;
  }
}

.row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}







footer {
  padding: 10px 0;
  background-color: $footer-color;
  -moz-box-shadow:    0px 4px 4px 7px $footer-color;
  -webkit-box-shadow: 0px 4px 4px 7px $footer-color;
  box-shadow:         0px 4px 4px 7px $footer-color;
  width: 100%;
  display: inline-block;

  .footer-container {
    padding: 0 10px;
    font-weight: 300;
    color: #eee;
    text-align: center;

    .copyright {
      display: inline-block;
      line-height: 30px;
      float: left;
      padding-left: 10px;
    }

    .email {
      display: inline-block;
      line-height: 30px;
    }

    .social-media {
      float: right;
      width: 140px;

      .social-item {
        width: 32px;
        height: 32px;
        display: inline-block;
        padding-right: 7px;
      }

      .twitter {
        background:transparent url('/images/twitter.png') center top no-repeat;
      }
      .twitter:hover {
        background-image: url('/images/twitter-hover.png');
      }

      .github {
        background:transparent url('/images/github.png') center top no-repeat;
      }
      .github:hover {
        background-image: url('/images/github-hover.png');
      }

      .linkedin {
        background:transparent url('/images/linkedin.png') center top no-repeat;
        background-size: 40.5px 32px;
        width: 40.5px
      }
      .linkedin:hover {
        background-image: url('/images/linkedin-hover.png');
      }
    }
  }
}


.image-container {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-top: 5px;
}

.image-ratio-066 {
  padding-bottom: 66.66%;
}

.image-ratio-070 {
  padding-bottom: 70%;
}

.image-ratio-075 {
  padding-bottom: 75%;
}

.image-ratio-133 {
  padding-bottom: 75%;
}

.image-ratio-140 {
  padding-bottom: 71.43%;
}

.image-ratio-202 {
  padding-bottom: 49.44%;
}














.modal-overlay {
  /* Dark overlay */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #000;
  opacity: 0.85;
  overflow: hidden;
}

/*Circle for close button*/
.modal-close {
  z-index: 10001;
  height: 30px;
  width: 30px;
  background-color: #ddd;
  border-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  cursor: pointer;
  border: 5px solid #000;
}

/*Cross for close button*/
.modal-close:after, .modal-close:before{
  position: fixed;
  top: 23px;
  right: 12px;
  content: '';
  width: 25px;
  height: 4px;
  background-color: #000;
}

.modal-close:after{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close:before{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-dialog {

  .modal-image {
    z-index: 10000;
    position: fixed;
    max-width: 90%;
    max-height: calc(90% - 80px);

    /* Center the dialog */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, calc(-50% - 40px));
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, calc(-50% - 40px));
    transform: translate(-50%, -50%);
    transform: translate(-50%, calc(-50% - 40px));


    padding: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
  }
}

.modal-caption-bar {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #000;
  opacity: 0.95;
  box-shadow: 0 -5px 10px #000;

  .modal-move {
    color: #ddd;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    padding-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .modal-move:hover {
    color: #bbb;
  }

  .modal-prev {
    right: 50%;
    margin-right: 20px;
  }

  .modal-next {
    left: 50%;
    margin-left: 20px;
  }

  .modal-caption {
    color: #fff;
    font-size: 18px;
    position: fixed;
    top: calc(100% - 50px);
    width: 80%;
    text-align: center;
    left: 50%;
    -ms-transform: translateX(-50%);;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 44px;
    overflow: hidden;
  }
}














@media only screen and (max-width: 768px) {

  body {
    background-color: $bar-color;
  }

  h1 {
    padding-left: 10px;
  }

  .main-content {
    .main-container {
      padding: 0;
    }
  }

  .top-description {
    padding: 0;
  }

  .row {
    border-bottom: none;
    height: 100%;
    padding: 0;
    width: 100%;

    .image-part {
      width: 100%;
      height: 100%;
      display: block;

    }

    .text-part {
      display: block;
      padding-left: 0;
      width: calc(100% - 20px);
      padding: 5px 10px 20px 10px;

      .category-description {
        overflow: hidden;
        height: 150px;
        -webkit-text-fill-color: black;
        background-image: none;
      }

      .read-more {
        font-weight: 400;
      }
    }
  }




  .mainbar {
    width: 100%;
    display: block;

    .mainbar-container {
      padding: 0;

      .main-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
      }

      .description {
        font-size: 18px;
        line-height: 1.6;
        padding: 20px 10px 15px 10px;
      }

      .small-images {

        .small-image-container {
          width: 50%;
        }
      }
    }
  }



  .sidebar {
    width: 100%;
    display: block;

    .sidebar-container {
      padding: 0 10px;

      .info-box {
        min-height: 0;
        padding-bottom: 15px;
      }
    }
  }




.modal-overlay {
  opacity: 0.95;
}

/*Circle for close button*/
.modal-close {
  margin: 1px 1px 0 0;
}

/*Cross for close button*/
.modal-close:after, .modal-close:before{
  top: 19px;
  right: 8px;
}

.modal-dialog {

  .modal-image {
    max-width: 100%;
    max-height: 80%;

    /* Center the dialog */
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
  }
}

.modal-caption-bar {
  height: 20%;
  max-height: 80px;

  .modal-move {
    color: #ddd;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    padding-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .modal-move:hover {
    color: #bbb;
  }

  .modal-prev {
    right: 50%;
    margin-right: 20px;
  }

  .modal-next {
    left: 50%;
    margin-left: 20px;
  }

  .modal-caption {
    color: #fff;
    font-size: 18px;
    position: fixed;
    top: calc(100% - 50px);
    width: 80%;
    text-align: center;
    left: 50%;
    -ms-transform: translateX(-50%);;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 44px;
    overflow: hidden;
  }
}


  header {

    .header-container {

      nav {
          border-bottom: 0;
          width: 100%;
          padding-left: 0;
          position: relative;

        ul {
          display: none;
          height: auto;
        }

        .menu-container {
          display: inline-block;
          float: right;
          padding-top: 5px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer;

          .menu-text {
            display: inline-block;
            font-size: 16px;
          }

          .menu-icon {
            display: inline-block;
            width: 27px;
            height: 30px;
            line-height: 26px;
            vertical-align: middle;
          }
        }

        .showbar {
          display: block;
          padding: 60px 0 0 0;
        }

        .barlines {
          float: none;
          display: block;
          padding-left: 0;
          cursor: pointer;
        }
      }
    }
  }

  .navbar {
    height: 180px;
    width: 100%;
    background-color: $base-color;
    -moz-box-shadow:    0px 0px 4px 3px $base-color;
    -webkit-box-shadow: 0px 0px 4px 3px $base-color;
    box-shadow:         0px 0px 4px 3px $base-color;
  }



}


@media only screen and (max-width: 500px) {
  footer {
    .footer-container {
      text-align: center;

      .copyright {
        display: block;
        line-height: $lhl;
        float: none;
        padding-left: 0;
      }

      .email {
        display: block;
        line-height: $lhl;
      }

      .social-media {
        padding-top: 10px;
        float: none;
        margin: 0 auto;
      }
    }
  }
}


