$lhl: 1.6em;
$base-color: #607D8B;
$background-color: lighten($base-color, 47%);
$bar-color: #fff;
$header-color: darken($base-color, 13%);
$footer-color: darken($base-color, 5%);
$border-color: lighten($base-color, 35%);

$black: #000;
$text-color: lighten($black, 13%);
