Tämä piirros perustuu Carl Barksin tarinaa ”Juovikas rubiini”. Don Rosa piirsi useita niin sanottuja pin-up-piirroksia Carl Barksin tarinoista, mutta tarina juovikkaasta rubiinista ei kuulu niihin, joten päätin piirtää tarinasta vastaavan. Tosin minun piirrokseni, toisin kuin useimmat Rosan pin-up-piirroksista, on vaaka suuntainen.

Piirroksessa on kuvattu tarinan tärkeimmät kohdat: sukellus veneessä olevat Ankat pelastautuvat jättiläismeduusalta syöttämällä sille karamelleja, Rippan Taron kuningas vaihtaa juovikkaan rubiinin karamelleihin ja Karhukopla yrittää varastaa rubiinin Roopelta.
