<div class="mainbar">
  <div class="mainbar-container">
    <h1>{{artwork.name}}</h1>
    <div class="image-container image-ratio-{{artwork.images[0].strictratio}}">
      <img class="main-image" ng-src="{{artwork.images[0].medium}}">
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor felis elementum dolor tincidunt, at scelerisque ex pretium. Aliquam bibendum molestie mi, ut tempor lectus tincidunt ut. Cras accumsan nisi id ante interdum, tristique semper ipsum scelerisque. Sed malesuada nunc eu enim euismod, blandit volutpat diam pretium. Pellentesque ut commodo ante. Praesent a ipsum quis nisl convallis auctor eget in urna. Sed tempor velit risus. In sit amet pulvinar ex, ut feugiat ante. Nulla bibendum quam quis elit vulputate sagittis.
      Quisque fringilla, quam nec porttitor fermentum, erat mi tempus ante, at suscipit arcu magna et orci. Suspendisse dui lorem, placerat vitae elit id, feugiat lobortis magna. Donec id mattis nibh. Aliquam posuere arcu ut felis condimentum, eget accumsan est dictum. Fusce ornare neque vestibulum ligula vulputate aliquet. Pellentesque pharetra diam vitae massa consectetur, id ornare dolor consectetur. Integer ornare neque vitae enim tincidunt interdum.
    </div>


    <div class="small-images">
      <div ng-repeat="image in artwork.images" class="small-image-container">
        <div class="small-image-content">
          <img class="small-image-{{image.ratio}}" ng-src="{{image.small}}">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sidebar">
  <div class="sidebar-container">
    <h3>Tietoja</h3>
    <div>Vuosi: 2004</div>
    <div>Koko: A2-paperi</div>
    <div class="other-works">
      <h3>Muut {{categoryname}}</h3>
      <div ng-repeat="(key, value) in category" class="sidebar-item">
        <a href="#/{{categoryname}}/{{key}}"><img class="sidebar-image" ng-src="{{value.images[0].small}}"></a>
        <a href="#/{{categoryname}}/{{key}}"><div class="work-name">{{value.name}}</div></a>
      </div>
    </div>
  </div>
</div>




