<div class="mainbar">
  <div class="mainbar-container">
    <h1>{{artwork.name}}</h1>
    <div class="image-container image-ratio-{{artwork.images[0].strictratio}}">
      <img class="main-image" ng-src="{{artwork.images[0].medium}}" ng-click="toggleModal(artwork.images[0])">
    </div>
    <div class="description">{{artwork.description}}</div>
    <image-modal allimages='allImages' imagedata='imgData' show='modalShown'></image-modal>


    <div class="small-images">
      <div ng-repeat="image in artwork.images" class="small-image-container">
        <div class="small-image-content">
          <img class="small-image-{{image.ratio}}" ng-src="{{image.small}}" ng-click="toggleModal(image)">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sidebar">
  <div class="sidebar-container">
    <h3>Tietoja</h3>
    <div>Vuosi: {{artwork.year}}</div>
    <div>Koko: {{artwork.size}}</div>
    <div>Materiaalit: {{artwork.materials}}</div>
    <div class="other-works">
      <h3>Muut {{getNameOfCategory(categoryname)}}</h3>
      <div ng-repeat="(key, value) in category" class="sidebar-item">
        <a href="#/{{categoryname}}/{{key}}"><img class="sidebar-image" ng-src="{{value.images[0].small}}"></a>
        <a href="#/{{categoryname}}/{{key}}"><div class="work-name">{{value.name}}</div></a>
      </div>
    </div>
  </div>
</div>


