<div class="">
  <div class="top-description">
    <h1>{{category.name}}</h1>
    <div class="category-description">{{category.description}}</div>
  </div>
  <div ng-repeat="artwork in artworks" class="row">
    <a ng-href="#/{{categoryid}}/{{artwork.id}}">
      <div class="image-part">
        <img class="row-image" ng-src="{{artwork.images[0].medium}}">
      </div>
    </a>

    <div class="text-part">
      <a ng-href="#/{{categoryid}}/{{artwork.id}}">
        <h2>{{artwork.name}}</h2>
      </a>
      <div class="large-text category-description">{{artwork.description}}</div>
      <a ng-href="#/{{categoryid}}/{{artwork.id}}" class="read-more bold-link">Lue lisää</a>
    </div>
  </div>
</div>

