<div class="">
  <div class="top-description">
    <h1>{{getNameOfCategory(categoryname)}}</h1>
  </div>
  <div ng-repeat="(key, artwork) in category" class="row">
    <a href="#/{{categoryname}}/{{key}}">
      <div class="image-part">
        <img class="row-image" ng-src="{{artwork.images[0].medium}}">
      </div>
    </a>

    <div class="text-part">
      <a href="#/{{categoryname}}/{{key}}">
        <h2>{{artwork.name}}</h2>
      </a>
      <div class="large-text category-description">{{artwork.description}}</div>
      <a href="#/{{categoryname}}/{{key}}" class="read-more">Lue lisää</a>
    </div>
  </div>
</div>

