<div>
  <div class="welcome-area">
    <h1>Tervetuloa sivuilleni!</h1>

  </div>
  <div class="row">
    <a href="#/rakennelmat">
      <div class="image-part">
        <img class="row-image" ng-src="{{allBuildingImages[0].medium}}">
      </div>
    </a>

    <div class="text-part">
      <a href="#/rakennelmat">
        <h2>Rakennelmat</h2>
      </a>
        <div class="large-text category-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor felis elementum dolor tincidunt, at scelerisque ex pretium. Aliquam bibendum molestie mi, ut tempor lectus tincidunt ut. Cras accumsan nisi id ante interdum, tristique semper ipsum scelerisque. Sed malesuada nunc eu enim euismod, blandit volutpat diam pretium. Pellentesque ut commodo ante. Praesent a ipsum quis nisl
      </div>
      <a href="#/rakennelmat">
        <div class="read-more">Lue lisää</div>
      </a>
      </div>
    </div>

    <div class="row">
    <a href="#/akuankkapiirustukset">
      <div class="image-part">
        <img class="row-image" ng-src="{{allDrawingImages[0].medium}}">
      </div>
    </a>

    <div class="text-part">
      <a href="#/akuankkapiirustukset">
        <h2>Aku Ankka piirustukset</h2>
      </a>
        <div class="large-text category-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor felis elementum dolor tincidunt, at scelerisque ex pretium. Aliquam bibendum molestie mi, ut tempor lectus tincidunt ut. Cras accumsan nisi id ante interdum, tristique semper ipsum scelerisque. Sed malesuada nunc eu enim euismod, blandit volutpat diam pretium. Pellentesque ut commodo ante. Praesent a ipsum quis nisl
      </div>
      <a href="#/akuankkapiirustukset">
        <div class="read-more">Lue lisää</div>
      </a>
      </div>
    </div>


    <div class="row">
    <a href="#/muut">
      <div class="image-part">
        <img class="row-image" ng-src="{{allOtherImages[0].medium}}">
      </div>
    </a>

    <div class="text-part">
      <a href="#/muut">
        <h2>Muut</h2>
      </a>
        <div class="large-text category-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor felis elementum dolor tincidunt, at scelerisque ex pretium. Aliquam bibendum molestie mi, ut tempor lectus tincidunt ut. Cras accumsan nisi id ante interdum, tristique semper ipsum scelerisque. Sed malesuada nunc eu enim euismod, blandit volutpat diam pretium. Pellentesque ut commodo ante. Praesent a ipsum quis nisl
      </div>
      <a href="#/muut">
        <div class="read-more">Lue lisää</div>
      </a>
      </div>
    </div>
  </div>
</div>
