<div>
  <div class="top-description">
    <h1>Tervetuloa sivuilleni!</h1>
  </div>

  <div ng-repeat="category in categories" class="row">
    <a ng-href="#/{{category.id}}">
      <div class="image-part">
        <img class="row-image" ng-src="{{category.artworks[0].images[0].medium}}">
      </div>
    </a>
    <div class="text-part">
      <a ng-href="#/{{category.id}}">
        <h2>{{category.name}}</h2>
      </a>
      <div class="large-text category-description">{{category.description}}</div>
      <a ng-href="#/{{category.id}}" class="read-more bold-link">Lue lisää</a>
    </div>
  </div>
</div>
